@using TimeTableLibrary.RozkladModels;
@using TimeTableLibrary.FpmModels;

@model Dictionary<RozkladSubject,List<FpmSubject>>
@{
    ViewData["Title"] = "Index";
}

@foreach (var item in Model)
{
	<input type="text" name="" value="@item.Key" class="col-lg-4"/>
	<div class="col-lg-4"></div>
	<select asp-for="@item.Value">
		@foreach (var value in item.Value)
		{
			<option>@value.Name</option>
		}
	</select>
}

