
@{
    ViewData["Title"] = "Teachers";
}

<div class="container">
	<h2 class="text-center">Teachers actions</h2>
	<div class="btn-group btn-group-justified">
		<div class="btn-group">
			<a class="btn btn-primary" href="TeachersMapping">Map teachers</a>
		</div>
		<div class="btn-group">
			<button type="button" class="btn btn-primary" asp-action="AddTeachersForSubject">Add teacher for current subjects</button>
		</div>
	</div>
</div>
