@using TimeTableLibrary.FpmModels;
@model List<FpmGroup>
@{
	ViewData["Title"] = "Main page";
}

<div id="menu">

</div>

<div class="container">
	<div class="well">
		<div class="media-body">
			<input list="groups" class="center-block" id="groupInput" style="max-width:20%" value=""/>
			<datalist id="groups">
				@foreach (var item in Model)
				{
					<option value=@item.Name id="@item.Id" />
				}
			</datalist>
			<button class="center-block" onclick="submit()" style="max-width:20%" id="select">Select group</button>
		</div>
	</div>
</div>

<script>
	function submit() {
		var value = $("#groupInput").val();
		var option = $("[value='" + value + "']");
		var container = $("#groupMenu");

		if (value != "" && option.length > 0) {
			var id = option[0].id;
			var container = $("#groupMenu");
			container.removeAttr('style');

			$.post("GroupSelector", { ID: id }, function (data) {
				$('#menu').html(data);
			});
		}
		else
			container.attr('style', 'display:none');

	}
</script>