@using TimeTableLibrary.FpmModels;
@model List<FpmGroup>
@{
    ViewData["Title"] = "Index";
}

<div class="container">
	<div class="well">
		<div class="media-body">
			<input list="groups" class="center-block" id="groupInput" style="max-width:20%" value = ""/>
			<datalist id="groups" >
				@foreach (var item in Model)
				{
					<option value=@item.Name id="@item.Id" />
				}
			</datalist>
			<button class="center-block" onclick="submit()" style="max-width:20%">Select group</button>
		</div>
	</div>
</div>

<div class="container" id="groupMenu" style="display:none">
<div class="well">
<div class="center-block">
	<nav class="navbar navbar-default center-block" style="max-width:25%">
			<div class="center-block">
				<ul class="nav navbar-nav center-block">
					<li><a asp-controller="Timetable" asp-action="Index">Timetable</a></li>
					<li><a asp-controller="Subjects" asp-action="Index">Subjects</a></li>
					<li><a asp-controller="Mapping" asp-action="Index">Mapping</a></li>
				</ul>

		</div>
	</nav>
</div>
</div>
</div>

<script>
	function submit() {
		var value = $("#groupInput").val();
		var option = $("[value='" + value+"']");
		var container = $("#groupMenu");
		
		if (value != "" && option.length > 0) {
			var id = option[0].id;
			var container = $("#groupMenu");
			container.removeAttr('style');

			$.post("/Groups/GroupMenu", { ID: id });
		}
		else
			container.attr('style', 'display:none');

	}
</script>